<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>KyoSliderDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>313F57B51BB53779007D24F3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>313F57CE1BB53779007D24F3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>313F57D91BB53779007D24F3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
